<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <div class="user-panel mt-1 pb-1 mb-1 d-flex">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>

        </div>
    </ul>
    <ul class="navbar-nav text-white flex-row-reverse">
        @*<li style="position: absolute; top: 0; right: 0">*@
        <div class="user-panel mt-1 pb-1 mb-1 d-flex ">
            
            <div class="info">
                <a href="#" class="d-block text-dark">
                </a>
            </div>
        </div>
       @* </li>*@
    </ul>

    <div style="position: absolute; top: 0; right: 0">
        <div class="user-panel mt-1 pb-1 mb-1 align-content-end d-flex">            
            <div class="info">
                <a class="nav-link text-dark align-content-end" asp-area="" asp-controller="User" asp-action="Logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Logout
                </a>
            </div>
        </div>
    </div>
</nav>

