@model ShoppingCartWeb.Models.Dto.LoginRequestDTO

<!DOCTYPE html>
<html lang="en">
<br />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #394b39; /* Set your preferred background color */
        }

        .login-container {
            background-color: #dcedc8; /* Set card background color */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.2);
        }
    </style>
    <title>Login Page</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-container">
                    <div class="card-header">
                        @*<h4>Login</h4>*@
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="container border p-4">
                                <div class="row text-center">
                                    <h1>Login</h1>
                                </div>
                                <div class="row text-center">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                                <div class="row">
                                    <div class="col-6 offset-3 pb-2">
                                        <input asp-for="UserName" type="text" class="form-control" placeholder="Username..." />
                                    </div>

                                    <div class="col-6 offset-3 pb-2">
                                        <input asp-for="Password" type="password" class="form-control" placeholder="Password..." />

                                    </div>
                                    <div class="col-6 offset-3 pb-2">
                                        <button type="submit" class="form-control btn-outline-success" value="Submit">Login</button>

                                    </div>
                                </div>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
