@model ShoppingCartWeb.Models.VM.RegisterVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Register">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">User Register</h1>
        <hr />

        <div class="row">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@

            <div class="col-2">
                <label asp-for="User.UserName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="User.UserName" class="form-control" />
                <span asp-validation-for="User.UserName" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="User.Password" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="User.RegistrationId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="User.RegistrationId" class="form-select" asp-items="@Model.registrationList">
                    <option disabled selected>--Select Name--</option>
                </select>
                <span asp-validation-for="User.RegistrationId" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="User.RoleId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="User.RoleId" class="form-select" asp-items="@Model.roleList">
                    <option disabled selected>--Select Role--</option>
                </select>
                <span asp-validation-for="User.RoleId" class="text-danger"></span>
            </div>


            <div class="col-5 offset-2">
                <a asp-action="Register" asp-controller="User" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Register" class="btn btn-success form-control" />
            </div>
        </div>

    </div>
</form>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}