@model ShoppingCartWeb.Models.VM.UpdateUserVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<form asp-action="UpdateUser">
    <div class="container border p-3">
        <h1 class="text-dark">User</h1>
        <hr />
        <input hidden asp-for="User.UserId" />
        <div class="row">
            <div class="col-md-6">
                <div class="row pb-3">
                    <div class="col-md-3">
                        <label asp-for="User.UserName" class="control-label pt-2" style="font-size:14px;">User Name</label>
                    </div>
                    <div class="col-md-9 pb-4">
                        <input asp-for="User.UserName" class="form-control" />
                        <span asp-validation-for="User.UserName" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="User.Password" class="control-label pt-2" style="font-size:14px;">Password</label>
                    </div>
                    <div class="col-md-9 pb-4">
                        <input asp-for="User.Password" placeholder="@Model.User.Password" class="form-control" />
                        <span asp-validation-for="User.Password" class="text-danger"></span>
                    </div>


                    <div class="col-md-3">
                        <label asp-for="User.RegistrationId" class="control-label pt-2" style="font-size:14px;">Registration Name</label>
                    </div>
                    <div class="col-md-9 pb-4">
                        <select asp-for="User.RegistrationId" class="form-control" asp-items="@Model.registrationList">
                            <option disabled selected>--Select Registration--</option>
                        </select>
                        <span asp-validation-for="User.RegistrationId" class="text-danger"></span>
                    </div>


                    <div class="col-md-3">
                        <label asp-for="User.RoleId" class="control-label pt-2" style="font-size:14px;">Role</label>
                    </div>
                    <div class="col-md-9 pb-4">
                        <select asp-for="User.RoleId" class="form-control" asp-items="@Model.roleList">
                            <option disabled selected>--Select Role--</option>
                        </select>
                        <span asp-validation-for="User.RoleId" class="text-danger"></span>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-5"></div>
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-4">
                                <a asp-action="IndexUser" asp-controller="User" class="btn-primary btn form-control ">Cancel</a>
                            </div>
                            <div class="col-4">
                                <input type="submit" value="Update" class="btn btn-success form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}