@model IEnumerable<ShoppingCartWeb.Models.Dto.RoleMasterDTO>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row pb-2">
    <div class="col">
        <h1 class="text-dark">Roles</h1>
    </div>
    <div class="col-2 text-start pt-1 justify-content-start">
        <a asp-controller="RoleMaster" asp-action="CreateRoleMaster" class="btn btn-primary btn-sm ms-2">
            <div class="d-flex align-items-center">
                <span class="d-inline-block align-middle me-1" style="font-size: 24px;">Create </span>
                <!-- Increase the font-size value as needed -->
                <i class="bi bi-plus-square-fill ml-2" style="font-size: 21px;"></i>
                <!-- Increase the font-size value as needed -->
            </div>
        </a>
    </div>

</div>
<div class="container p-4 border mt-4">


    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Role Id
                    </th>
                    <th>
                        Role Name
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.RoleId</td>
                        <td>@item.RoleName</td>
                        <td style="white-space: nowrap;">
                            <div class="btn-group" role="group">
                                <a asp-controller="RoleMaster" asp-action="UpdateRoleMaster" asp-route-roleId="@item.RoleId" class="btn btn-success"><i class="bi bi-pencil-square"></i>  </a>
                                <a asp-controller="RoleMaster" asp-action="RemoveRoleMaster" asp-route-roleId="@item.RoleId" class="btn btn-danger ml-2"><i class="bi bi-trash-fill"></i>  </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>