@model ShoppingCartWeb.Models.VM.RemoveRegistrationVM

<form asp-action="RemoveRegistration">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Remove Registration</h1>
        <hr />
        <input hidden asp-for="Registration.RegistrationId" />
        <div class="row">

            <div class="col-2">
                <label asp-for="Registration.RegistrationId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Registration.RegistrationId" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Registration.CategoryMaster.CategoryName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="Registration.CategoryMaster.CategoryName" disabled class="form-select" asp-items="@Model.CategoryList">
                    <option disabled selected>--Select Category--</option>
                </select>
            </div>

            <div class="col-2">
                <label asp-for="Registration.Address" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Registration.Address" disabled class="form-control" rows="5"></textarea>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexRegistration" asp-controller="Registration" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}