@*@*For view POP-UP*@
@*
<div class="modal fade" id="userDetailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">User Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>First Name:</strong> <span id="FirstName"></span></p>
                        <p><strong>Last Name:</strong> <span id="LastName"></span></p>
                        <p><strong>Email:</strong> <span id="Email"></span></p>
                        <p><strong>Phone No:</strong> <span id="PhoneNo"></span></p>
                        <p><strong>Gender:</strong> <span id="Gender"></span></p>

                        <p><strong></strong></p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>DoB:</strong> <span id="Dob"></span></p>
                        <p><strong>JoiningDate:</strong> <span id="joiningDate"></span></p>
                        <p><strong>Address:</strong> <span id="Address"></span></p>
                        <p><strong>Country:</strong> <span id="Country"></span></p>
                        <p><strong>State:</strong> <span id="State"></span></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".view-button").on("click", function () {
            var loginUserId = $(this).data("id");
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetUserDetails", "Auth")',
                data: { id: $(this).data("id") },
                dataType: 'Json', success: function (user) {
                    $("#FirstName").text(user.firstName);
                    $("#LastName").text(user.lastName);
                    $("#Email").text(user.email);
                    $("#PhoneNo").text(user.phoneNumber);
                    $("#Gender").text(user.gender);
                    var dobDate = new Date(user.dob);
                    var formattedDob = dobDate.toLocaleDateString();
                    $("#Dob").text(formattedDob);
                    var joiningDate = new Date(user.joiningDate);
                    var formattedDate = dobDate.toLocaleDateString();
                    $("#joiningDate").text(formattedDate);
                    $("#Address").text(user.address);
                    $("#Country").text(user.countryMaster.countryName);
                    $("#State").text(user.stateMaster.stateName);
                    $("#userDetailsModal").modal("show");
                },
                error: function () {
                    alert("Failed to fetch user details.");
                }
            });
        });

    });
</script>

*@