@model IEnumerable<ShoppingCartWeb.Models.Dto.CountryMasterDTO>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row pb-2">
    <div class="col">
        <style>
            .text-dark {
                font-size: 24px; /* You can adjust the size to your preference, e.g., 24px, 36px, etc. */
                /* You can also use other units like em, rem, or % if you prefer. */
            }
        </style>
        
            <h1 class="text-dark">Countries</h1>
    </div>

    <div class="col-2 d-flex justify-content-end align-items-start">
        <a asp-controller="CountryMaster" asp-action="CreateCountryMaster" class="btn btn-primary btn-sm ms-2">
            <div class="d-flex align-items-center">

                <span class="d-inline-block align-middle" style="font-size: 17px;"><i class="bi bi-plus-square-fill"></i>  Create </span>

            </div>
        </a>
    </div>
</div>

<br />

<div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Country Name
                    </th>

                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="white-space: nowrap;">@item.CountryName</td>
                        <td>
                            <div class="btn-group" role="group">

                                <a asp-controller="CountryMaster" asp-action="UpdateCountryMaster" asp-route-countryId="@item.CountryId" class="btn btn-sm ml-1">
                                    <span id="boot-icon" class="bi bi-pencil-square" style="font-size: 17px; color: rgb(0, 128, 55); -webkit-text-stroke-width: 0.6px; opacity: 0.9;"></span>
                                    </a>

                                <a href="#" class="btn btn-sm ml-1" data-toggle="modal" data-target="#deleteModal_@item.CountryId">
                                    <span id="boot-icon" class="bi bi-trash-fill" style="font-size: 17px; color: rgb(255, 0, 0); -webkit-text-stroke-width: 0px; opacity: 0.9;"></span>
                                    </a>

                            </div>
                        </td>
                    </tr>
                    <!-- Delete Confirmation Modal for each item -->
                    <div class="modal fade" id="deleteModal_@item.CountryId" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this item?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <a asp-controller="CountryMaster" asp-action="RemoveCountryMaster" asp-route-countryId="@item.CountryId" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </tbody>
        </table>

    </div>
</div>
@section Scripts {

}
